<h2>{{$ctrl.title}}</h2>

<md-content>
    <h3>Liste des lecteurs UPnP/DLNA</h3>

    <m1m-media-renderer
            ng-repeat="renderer in $ctrl.mediaRenderers"
            rd="renderer" ng-click="$ctrl.subscribe(renderer.id)"
    >
    </m1m-media-renderer>
</md-content>


<section>
    <h3>Liste des serveurs UPnP/DLNA</h3>

    <m1m-media-server ng-repeat="server in $ctrl.mediaServers" serv="server">
    </m1m-media-server>

    <a ng-repeat="obj in $ctrl.medias" ng-dblclick="$ctrl.loadMedia($ctrl.mediaRenderers[1].id,obj.serverId, obj.mediaId)">
        {{obj.title}}
    </a>-->

</section>

<browser-display nf="{{$ctrl.directories}}">
</browser-display>
